@font-face {
  font-family: "pt-sans";
  src: url(../fonts/PTSans-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "pt-sans";
  src: url(../fonts/PTSans-Bold.ttf);
  font-weight: 700;
  font-style: bold;
}

@font-face {
  font-family: "pt-sans";
  src: url(../fonts/PTSans-BoldItalic.ttf);
  font-weight: 600;
  font-style: "bold-italic";
}

@font-face {
  font-family: "pt-sans";
  src: url(../fonts/PTSans-Italic.ttf);
  font-weight: 500;
  font-style: italic;
}

a {
  font-family: "pt-sans";
  font-weight: 400;
}

.d-block {
  height: 40vh;
}
.container-fluid {
  border: 2px solid red;
}

[alt^="testemonial"] {
  border: 2px solid pink;
  height: 75px;
  width: 75px;
}

.heading {
  border: 2px solid yellow;
}
