/* settting the font-family, weight and style */
@font-face {
  font-family: "pt-sans";
  src: url(../fonts/PTSans-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "pt-sans";
  src: url(../fonts/PTSans-Bold.ttf);
  font-weight: 700;
  font-style: bold;
}

@font-face {
  font-family: "pt-sans";
  src: url(../fonts/PTSans-BoldItalic.ttf);
  font-weight: 600;
  font-style: "bold-italic";
}

@font-face {
  font-family: "pt-sans";
  src: url(../fonts/PTSans-Italic.ttf);
  font-weight: 500;
  font-style: italic;
}

/* general elements  */
a {
  font-family: "pt-sans";
  font-weight: 400;
}

.heading {
  border: 2px solid yellow;
}

.divider {
  content: "";
  width: 70vw;
  height: 1px;
  background-color: rgba(128, 128, 128, 0.575);
  margin: 5% auto;
}

/* navigation section */
nav {
  width: 100vw;
}

.logo {
  margin: 0 2%;
}

/* carousel section */

.d-block {
  height: 50vh;
  width: 100vw;
}

/* testemonial section */
.testemonials {
  margin: 5% auto;
}

[alt^="testemonial"] {
  height: 90px;
  width: 90px;
}

/* footer section */
.links-footer {
  margin: 0 8px;
}

.to-top,
.links-footer {
  text-decoration: none;
  font-weight: 700;
}
